################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockpriceDashboard/.vs/StockpriceDashboard
/StockpriceDashboard/StockpriceDashboard/bin/Debug/net8.0
/StockpriceDashboard/.vs/ProjectEvaluation
/StockpriceDashboard/StockpriceDashboard/obj
